@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

a.navbar-brand {
  padding-left: 30px
}

.search-form {
  height: 50px;
  line-height: 50px;
  text-align: right;
}

.search-checkbox {
  margin-right: 5px !important;
  top: 3px;
  position: relative;
}
